<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <img src="../assets/img/burger.jpg" alt="burger" height="200px" width="200px">
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-3"></div>
        <div class="lists col-sm-3">
            <h3><strong>Not Eaten</strong></h3>
            <ul id="burgers">
                {{#each burgers}}
                {{#unless devoured}}
                {{> block}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="lists col-sm-3">
            <h3><strong>Eaten</strong></h3>
            <ul id="eaten">
                {{#each burgers}}
                {{#if devoured}}
                {{> block}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-4"></div>
        <textarea name="" id="name" cols="25" rows="2"></textarea>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-4"></div>
        <button id="new">Submit</button>
        <p><strong>Add a burger that you want to eat!</strong></p>
    </div>
</div>